body{
	min-height: 100%;
	height: auto;
	margin: 0;
	font-family: 'Montserrat',sans-serif;
}
li{
	color: #4e4d56;
}
ul{
	list-style: disc;
}
a{
	text-decoration: none;
}
h1, h2, h3, h4, h5{
	color: #464646;
	font-family: 'Old Standard TT', serif;
	font-weight: 700;
	text-transform: uppercase;
}

/*-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;*/

.top-nav{
	background-color: #2b325f;
	height: 26px;
	overflow: hidden;
	padding-right: 191px;
}
.top-nav ul{
	float: right;
	list-style: none;
	margin-right: 10px;
	margin-top: 0;
}
.top-nav ul li{
	display: inline-block;
}
.top-nav li{
	color: #4e4d56;
}
.top-nav ul li a{
	color: #c2c2c2;
	display: inline-block;
	padding: 5px 17px;
	font-size: 13px;
	text-transform: uppercase;
	text-decoration: none;
}
@media and (max-width: 880px){
	.top-nav{
		display: none;
	}
}
header{
	width: 100%;
	min-width: 1024px;
	height: 90px;
	border-top: 2px solid white;
	border bottom: 2px solid white;
	background: #820408;
}

header .logo{
	position: absolute;
	top: 20px;
	left: 170px;
}
.container{
	width: 96%;
	vertical-align: baseline;
}
header .logo::after{
	content: '';
	background: url(../images/background.png);
	display: block;
	width: 828px;
	height: 89px;
	position: absolute;
	top: 9px;
	left: -175px;
}
header .logo img{
	position: relative;
	z-index: 10;
	top: 24px;
}
.logo{
	position: absolute;
	top: 30px;
}

@media only screen and (max-width: 1024px) and (min-width: 769px){
	header nav ul li a{
		padding: 0 15px;
	}
	.portrait{
		min-width: inherit;
		height: auto;
	}
	.portrait .portrait-img{
		max-width: 100%;
		min-height: inherit;
		display: block;
	}
	.media{
		min-width: inherit;
	}
	.container .box{
		width: 96%;
	}
	.media .press .press-item{
		padding: 20px 2% 50px;
		width: 43%;
		margin: 0 1%;
	}
	.left-col{
	width: 59%;
	float: left;
	}
	.right-col{
		width: 40%;
		float: right;
	}
}
header nav{
	position: absolute;
	right: 0;
	top: 12px;
	display: block;
	height: 90px;
	padding-right: 191px;
}

header nav ul li{
	list-style: none;
	float: left;
	border-left: 1px solid #6c0508;
	display: inline-block;
	position: relative;
	height: 90px;
}

header nav ul li a{
	display: inline-block;
	padding: 0 20px;
	line-height: 90px;
	color: #c2c2c2;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
.donate{
	background-color: #2b325f;
	font-family: 'Old Standard TT', serif;
	font-weight: 700;
	font-size: 15px;
}
.portrait-img img{
	width: 100%;
	border-top: 2px solid white;
}
.portrait .portrait-message{
	padding-top: 40px;
	width: 531px;
	height: 244px;
	background: url(../images/message-border.png);
	position: absolute;
	bottom: 50px;
	left: 20px;
	margin-left: 0;
	text-align: center;
	z-index: 20;
}
.portrait-message h1, span{
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	letter-spacing: .2em;
	color: white;
	line-height: 40px;
	text-transform: uppercase;
	font-weight: 200;
}
.portrait-message span{
	font-family: 'Old Standard TT', serif;
	font-size: 50px;
	text-align: center;
}
.newsletter{
	width: 100%;
	height: 70px;
	padding-top: 10px;
	border-bottom: 4px solid white;
	background-color: #2b325f;
	text-align: center;
	display: block;
}
h2{
	text-align: right;
	margin-right: 50px;
	display: inline-block;
	vertical-align: middle;
	margin-left: -4px;
	text-transform: uppercase;
	color: white;
}
.button{
	display: inline-block;
	vertical-align: middle;
	margin-left: -4px;
}
.button a{
	display: block;
	font-size: 24px;
	font-weight: 700;
	color: white;
	width: 180px;
	height: 60px;
	background: url(../images/button.png);
	line-height: 60px;
	margin-right: 20px;
}
.media{
	width: 100%;
	padding: 45px 0 55px 0;
	background: url(../images/dark_embroidery.png);
}
.box{
	position: relative;
	margin: auto;
}
.call{
	text-align: center;
	margin-bottom: 40px;
}
h3{
	font-size: 24px;
	line-height: 30px;
	color: #E8E8E8;
	font-family: 'Old Standard TT', serif;
	font-weight: 700;
	text-transform: uppercase;
}
.call span{
	color: #ef5656;
	font-family: 'Old Standard TT', serif;
}

.box .press{
	text-align: center;
	margin-bottom: 40px;
}
.box .releases{
	text-align: center;
}
.left-col{
	width: 59%;
	float: left;
	display: block;
	margin-left: 25px;
}
.media h5{
	text-align: center;
	color: #b20107;
	letter-spacing: .2em;
	margin-bottom: 30px;
	font-weight: 700;
	text-transform:uppercase;
	display: block;
}
.media h5 > a{
	color: #b00909;
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
}
.media h2 > a{
	color: #4e4d56;
	text-decoration: none;
	font-family: "Old Standard TT", serif;
}
.media a:hover{
	color: #b00909;
}
.media h5::before{
	content: '';
	background: url(../images/three-stars.png);
	width: 38px;
	height: 11px;
	display: inline-block;
	margin-right: 15px;
}
.media h5::after{
	content: '';
	background: url(../images/three-stars.png);
	width: 38px;
	height: 11px;
	display: inline-block;
	margin-left: 15px;
}
.press-item h6{
	text-align: center;
	margin-bottom: 5px;
	margin-top: 5px;
	font-size: 14px;
	font-family: 'Georgia', serif;
	color: #4e4d56;
}
.press-item h2{
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 5px;
	color: #464646;
	font-family: "Old Standard TT", serif;
	font-weight: 700;
	text-transform: uppercase;
	text-align: left;
	width: 100%;
}
.press-item p{
	margin-bottom: 5px;
	line-height: 28px;
	color: #4e4d56;
	font-size: 14px;
}
@media screen and (max-width: 767px){
	.media .press .press-item{
		padding: 4%;
		width: 92%;
		margin: 0 0 20px 0;
		box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5)
	}
}
.media .press .press-item{
	padding: 20px;
	background: white;
	vertical-align: top;
	display: inline-block;
	width: 265px;
	text-align: left;
	box-shadow: 1px 2px 1px 0px rgba(0,0,0,0.5)
}

.news{
	background: url(../images/witewall_3.png);
	border-top: 2px solid white;
	position: relative;
	margin: auto;
	display: block;
}
.releases{
	text-align: center;
	display: block;
}
.release-item{
	width: 80%;
	box-shadow: 1px 2px 1px 0px rgba(0,0,0,0.5);
	background: white;
	vertical-align: top;
	display: block;
	text-align: left;
}
.release-item h6{
	font-size: 13px;
	font-family: "Georgia", serif;
	color: #4e4d56;
	font-weight: normal;
	letter-spacing: .2em;
	text-transform: uppercase;
	text-align: center;
	padding-top: 10px;
}
.release-item h2{
	color: #464646;
	font-family: "Old Standard TT", serif;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 5px;
	padding-left: 10px;
}
iframe{
	border: 1px solid #4e4d56;
	width: 35%;
}
.multimedia h4{
	text-align: center;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}
.right-col{
	margin-right: 25px;
}